body {
    margin: 0;
    padding: 0;
}
header {
    padding: 20px 50px 25px 50px;
    background: #323439;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
header h1 {
    margin: 0;
    padding: 0;
    color: #FFF
}
.logout-btn {
    color: #FFF
}
.top-user-info {
    display: flex;
    flex-flow: column;
}
.user-email-id {
    color: #FFF;
    font-size: 14px;
    padding: 0 0 10px 0;
}
.user-table {
    margin: 0 auto;
    border-collapse: collapse;
}
.user-table td td {
    font-size: 15px;
    color: gray;
    line-height: 1.4;
    padding: 10px;
}
.user-table tr:nth-child(even) {
    background-color: #f8f6ff;    
}
.user-table-view {
    height: 450px;
    width: 1200px;
    margin: 20px auto;
    box-shadow: #c1c1c1 1px 1px 4px 
}
.user-table-view thead th {
    text-align: left;
    padding: 10px;
}
.user-table-view thead {
    background: #64b5f6;
    color: #FFF;
}
.loading-img {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.loading-img img {
    width: 250px;
    height: 20px;
}