body {
    margin: 0;
    padding: 0;
}
header {
    padding: 20px 50px 25px 50px;
    background: #323439;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
header h1 {
    margin: 0;
    padding: 0;
    color: #FFF
}
.logout-btn {
    color: #FFF
}
.top-user-info {
    display: flex;
    flex-flow: column;
}
.user-email-id {
    color: #FFF;
    font-size: 14px;
    padding: 0 0 10px 0;
}
.user-table {
    margin: 20px auto;
    border-collapse: collapse;
}
.user-table td{
    font-size: 15px;
    color: gray;
    line-height: 1.4;
    padding: 10px;
}
.user-table tr:nth-child(even) {
    background-color: #f8f6ff;    
}
.user-table-view {
    height: 650px;
    overflow: auto;
    width: 1000px;
    margin: 20px auto;
}